
// base-colors

// buttons
.btn-col-pur {
    background-color: #926fb1;
    border-color: #926fb1;
}

.btn-col-pur:hover {
    background-color: #8575c0;
    border-color: #8575c0;
}

.btn-col-grn {
    background-color: #2ecc71;
    border-color: #2ecc71;
}

.btn-col-grn:hover {
    background-color: #29b765;
    border-color: #29b765;
}

.btn-col-pnk {
    background-color: #f62459;
    border-color: #f62459;
}

.btn-col-pnk:hover {
    background-color: #dd2050;
    border-color: #dd2050;
}

.btn-col-gry {
    background-color: #67809f;
    border-color: #67809f;
}

.btn-col-gry:hover {
    background-color: #52667f;
    border-color: #52667f;
}

.btn-col-org {
    background-color: #d64541;
    border-color: #d64541;
}

.btn-col-org:hover {
    background-color: #c03e3a;
    border-color: #c03e3a;
}

.btn-col-blu {
    background-color: #4183d7;
    border-color: #4183d7;
}




















