
// jumobtron-styles

.jumbotron {
    background-image: url("https://www.netmatters.co.uk/assets/images/branded.png");
    background-color: #333645;
}

.line {
    line-height: 1.875rem;
}

.text {
    font-size: 36px;
}

.btn-style {
    font-size: 17px;
    padding: 5px 15px;
}












