
.lrg-logo-one,
.lrg-logo-two,
.lrg-logo-three,
.lrg-logo-four
.lrg-logo-five
.lrg-logo-six {
    font-size: 1.438rem;
}

.style {
    box-shadow: 0 3px 35px rgba(0,0,0,0.1);
    padding: 30px;
}
.btn {
    transition: none;
    height: auto;
}

.card-span-one {
    background-color: #926fb1;
    color: #fff;
    border-radius: 50%;
    margin: 0 auto 17px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pointer-hov-web:hover {
    cursor: pointer;
    color: #fff;
    background-color: #926fb1;
    span {
        background-color: #fff;
        color: #926fb1;
    }
    p {
        color: #fff;
    }
    a {
        color: #926fb1;
        background-color: #fff;
    }
}

.card-span-two {
    background-color: #4183d7;
    color: #fff;
    border-radius: 50%;
    margin: 0 auto 17px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pointer-hov-it:hover {
    cursor: pointer;
    color: #fff;
    background-color: #4183d7;
    span {
        background-color: #fff;
        color: #4183d7;
    }
    p {
        color: #fff;
    }
    a {
        color: #4183d7;
        background-color: #fff;
    }
}

.card-span-three {
    background-color: #d64541;
    color: #fff;
    border-radius: 50%;
    margin: 0 auto 17px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pointer-hov-tel:hover {
    cursor: pointer;
    color: #fff;
    background-color: #d64541;
    span {
        background-color: #fff;
        color: #d64541;
    }
    p {
        color: #fff;
    }
    a {
        color: #d64541;
        background-color: #fff;
    }
}

.card-span-four {
    background-color: #67809f;
    color: #fff;
    border-radius: 50%;
    margin: 0 auto 17px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pointer-hov-bes:hover {
    cursor: pointer;
    color: #fff;
    background-color: #67809f;
    span {
        background-color: #fff;
        color: #67809f;
    }
    p {
        color: #fff;
    }
    a {
        color: #67809f;
        background-color: #fff;
    }
}

.card-span-five {
    background-color: #2ecc71;
    color: #fff;
    border-radius: 50%;
    margin: 0 auto 17px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pointer-hov-dig:hover {
    cursor: pointer;
    color: #fff;
    background-color: #2ecc71;
    span {
        background-color: #fff;
        color: #2ecc71;
    }
    p {
        color: #fff;
    }
    a {
        color: #2ecc71;
        background-color: #fff;
    }
}

.card-span-six {
    background-color: #f62459;
    color: #fff;
    border-radius: 50%;
    margin: 0 auto 17px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pointer-hov-cyb:hover {
    cursor: pointer;
    color: #fff;
    background-color: #f62459;
    span {
        background-color: #fff;
        color: #f62459;
    }
    p {
        color: #fff;
    }
    a {
        color: #f62459;
        background-color: #fff;
    }
}

.dash {
    background-color: #333645;
    height: 3px;
    width: 28px;
    display: block;
    margin: 0 auto 11px;
}

.card-text {
    font-size: 0.8125rem;
    line-height: 1.375rem;
    font-weight: normal;
    letter-spacing: .4px;
    color: #333645;
}
    












