
    .image-wrapper {
        height: 496px;
        overflow: hidden;
    }

.content-wrapper {
    h5 {
        font-size: 48px;
        margin-bottom: 25px;
        text-transform: uppercase;
    }
    p {
        color: #fff;
        font-size: 20px;
        margin-bottom: 35px;
    }
    button {
        background-color: #67809f;
        text-transform: uppercase;
        font-size: 20px;
        padding: 5px 20px;
        line-height: 50px;
        &:hover {
            background-color: #526781;
        }
    }
    i {
        margin-left: 10px;
    }
}

.pad {
    padding: 100px 0px;
}